tmp/
components/
!components/roboto-fonts/
managed_components/
node_modules/
build/
.vscode/
.devcontainer/
sdkconfig.old
sdkconfig
dependencies.lock
.env
releases/
main/assets/lang_config.h
.DS_Store
.cache